# Mac files
.DS_Store

# Dependency directories
node_modules/
.pnp
.pnp.js

# pnpm
.pnpm-debug.log*

# Build outputs
.next/
out/
dist/
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore hidden files as default
.github
